@import url('https://fonts.googleapis.com/css?family=Avenir&display=swap');

:root {
  --accentkleur: #ff3e3e;
  --achtergrond-primair: white;
	--achtergrond-secundair: #f7f7f7;
  --achtergrond-tertair: black;
  --textkleur-secundair: #4d4d4f;
  }	

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html{
  width: 100%;
}

main{
  padding: 0 1em 0 1em;
}

body{
  background-size: cover;
  position:relative;
  padding:0em 0em 0em 0em;
  min-height:100vh;
  background-color: var(--achtergrond-primair);
  margin: 0em;
}


/* HAMBURGER CSS */

























/* Header */

header{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60em;
  margin: 0em;
  position: relative;
  overflow: hidden;
}



h1:first-of-type {
  z-index: 2;
  font-family: 'Roboto';
  position: absolute;
  font-weight: 700;
  color: var(--achtergrond-primair);
  top: 11em;
  padding: 0em 0.5em 0em 0.5em;
  text-align: center;
  font-size: 230%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 0 0 16px rgba(0,0,0,.95);
}


/* Navigatie */

nav{
  display: flex;
  top: 0;
  background-color: var(--achtergrond-tertair);
  height: 3.5em;
  max-width: 100%;
  position: fixed;
  z-index: 100;
  width: 100%;
  
}

header ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header li{
  color: var(--achtergrond-primair);
  list-style: none;
  font-family: 'Roboto';
}


img.logo{
  position: absolute;
  width: 7.562em;
  height: auto;
  bottom: -2.14em;
  right: 0.9em;
}


/* Hamburgermenu */
.uitklap ul{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2em;
  left: 0em;
  background-color: var(--achtergrond-primair);
  min-width: 100vh;
  min-height: 100vh;
  display: none;
}

.uitklap li{
  color: var(--achtergrond-tertair);
}

/* button.hamburger{
  position: absolute;
  background: none;
  border: none;
  top: 0.5em;
  left: 1em;
  z-index: 999;
  display: flex;
} */

button#menu{
  background: none;
  width: 7em;
  border: none;
  display: block;
}

.hamburger {
  background: none;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 199;
  position: absolute;
  left: 1.5em;
  top: 1.75em;
  cursor: pointer;
  place-items: center;
  display: flex;
  height: 1.25em;
}

 span {
  width: 20px;
  height: 2px;
  background: var(--achtergrond-primair);
  display: block;
}

#menu h5{
  color: var(--achtergrond-primair);
  background: none;
  left: 3em;
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 1em;
  margin: 0;
  letter-spacing: 0.15em;
}





/* Corona melding */

h2:first-of-type{
  position: relative;
  transform: translate(0em, 3em);
  font-family: 'Roboto';
  font-size: 1.125em;
  text-align: center;
  font-weight: 400;
  background-color: var(--achtergrond-secundair);
  padding: 1.500em 0.5em;
  width: 100%;
  max-width: 23.5em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  
}



/* ------Artiekelen 1-3-----*/

.artikelen1-3{
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  transform: translate(0em, 3.5em);
  max-width: 26.250em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.art1, .art2, .art3{
  position: relative;
  margin-bottom: 1em;
}

/* Kopje - artiekelen 1-3 */
.artikelen1-3 h3{
  position: relative;
  font-family: 'Roboto';
  font-size: 1.063em;
  text-align: left;
  font-weight: 900;
  border-style: solid;
  border-color: var(--accentkleur);
  border-width: 0 0 0 0.3em;;
  padding: 0 0 0 0.625em;
  letter-spacing: 0.02em;
}

/* Fotos - artiekelen 1-3 */
img.grachtbrug, img.grachtfiets, img.molenwater{
  position: relative;
  width: 100%;
  height: auto;
}


/* tekst artikelen 1-3 */
.art1 h4, .art2 h4, .art3 h4{
  position: absolute;
  padding: 0.625em;
  font-size: 1.063em;
  font-family: 'Roboto';
  font-weight: 500;
  background-color: var(--achtergrond-primair);
  z-index: 9;
  text-align: center;
  bottom: 5%;
}

/* text specefiek artiekel 1 */
.art1 h4{
  width: 100%;
}


/* -----Artiekelen 4-5 -----*/

.artikelen4-5{
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr;
  transform: translate(0em, 3.5em);
  margin: 1em auto 0 auto;
  max-width: 26.250em;
}

.art4, .art5{
  position: relative;
  margin-bottom: 1.5em;
}

/* Kopje artiekelen 4-5 */
.artikelen4-5 h3 {
  position: relative;
  font-family: 'Roboto';
  font-size: 1.063em;
  text-align: left;
  font-weight: 900;
  border-style: solid;
  border-color: var(--accentkleur);
  border-width: 0 0 0 0.3em;;
  padding: 0 0 0 0.625em;
  letter-spacing: 0.02em;
}

/* Fotos - artiekelen 4-5 */
img.centraal, img.rijksmuseum{
  position: relative;
  width: 100%;
  height: auto;
}

/* paragrafen - artiekelen 4-5 */
.art4 p, .art5 p{
  position: relative;
  font-family: 'Roboto';
  font-size: 0.9em;
  text-align: left;
  font-weight: 400;
  padding-top: 0.5em;
  margin: 0;
  width: 100%;
  line-height: 1.6;
  color: var(--textkleur-secundair);
}

/* links - artiekelen 4-5 */
.art4 h6, .art5 h6{
  text-decoration: underline;
  color: var(--accentkleur);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.9em;
  margin: 0;
  padding-top: 0.7em;
}
/* tekst artikelen 4-5 */
.art4 h4, .art5 h4{
  position: absolute;
  padding: 0.625em;
  font-size: 1.063em;
  font-family: 'Roboto';
  font-weight: 500;
  background-color: var(--achtergrond-primair);
  z-index: 9;
  bottom: 44%;
  text-align: center;
}




/* -----Articles 6-11----- */


.artikelen6-11{
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.9fr 1fr 0.9fr 1fr;
  transform: translate(0em, 2.5em);
  margin: 1em auto 0 auto;
  max-width: 26.250em;
}

.art6, .art7, .art8, .art9, .art10, .art11{
  position: relative;
  margin-bottom: 1.5em;
}

/* Kopje artiekelen 6-11 */
.artikelen6-11 h3 {
  position: relative;
  font-family: 'Roboto';
  font-size: 1.063em;
  text-align: left;
  font-weight: 900;
  border-style: solid;
  border-color: var(--accentkleur);
  border-width: 0 0 0 0.3em;;
  padding: 0 0 0 0.625em;
  letter-spacing: 0.02em;
}

/* Fotos - artiekelen 6-11 */
img.rokin, img.haven, img.collega, img.macbook, img.studenten, img.business{
  position: relative;
  width: 100%;
  height: auto;
}

/* paragrafen - artiekelen 6-11 */
.art6 p, .art7 p, .art8 p, .art9 p, .art10 p, .art11 p{
  position: relative;
  font-family: 'Roboto';
  font-size: 0.9em;
  text-align: left;
  font-weight: 400;
  padding-top: 0.5em;
  margin: 0;
  width: 100%;
  line-height: 1.6;
  color: var(--textkleur-secundair);
}

/* links - artiekelen 6-11 */
.art6 h6, .art7 h6, .art8 h6, .art9 h6, .art10 h6, .art11 h6{
  text-decoration: underline;
  color: var(--accentkleur);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.9em;
  margin: 0;
  padding-top: 0.7em;
}

/* tekst artikelen 6-11 */
.art6 h4, .art7 h4, .art8 h4, .art9 h4, .art10 h4, .art11 h4{
  position: absolute;
  padding: 0.625em;
  font-size: 1.063em;
  font-family: 'Roboto';
  font-weight: 500;
  background-color: var(--achtergrond-primair);
  z-index: 9;
  text-align: center;
  bottom: 38%;
}


/* Zoekbalk */
.zoekbalk h2{
  margin: 3em auto 0 auto;
  background: none;
}

/* ------Footer------ */
footer{
  background-color: var(--achtergrond-secundair);
  display: grid;
  transform: translate(0em, 5em);
  margin: 0 auto 0 auto;
}

.kopje1, .kopje2, .kopje3{
  display: grid;
  margin: 0 auto 0 auto; 
  font-family: 'Roboto';
  width: 26.250em;
  
}

/* positionering content */
.footerContent{
  transform: translate(0, 3em);
}

/* titels */
.kopje1 h3, .kopje2 h3, .kopje3 h3{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

/* items */
.kopje1 ul, .kopje2 ul, .kopje3 ul{
  display: grid;
  list-style: none;
  padding: 0;
}

.kopje1 li, .kopje2 li, .kopje3 li{
  padding-bottom: 0.75em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5em;
}

.kopje1 li:hover a, .kopje2 li:hover a, .kopje3 li:hover a{
  border-color: var(--accentkleur);
  color: var(--achtergrond-tertair);
}

.kopje1 li a, .kopje2 li a, .kopje3 li a{
  border-bottom: 1px solid var(--achtergrond-tertair);
  color: var(--textkleur-secundair) ;
}

/* socials plaatjes */
.socials{
  width: 26.250em;
  margin: 0 auto 0 auto; 
  border-top: 1px solid rgba(77,77,79,.2);
  border-bottom: 1px solid rgba(77,77,79,.2);
}

.socials img{
  width: 1.250em;
}

.socials ul{
  list-style: none;
  display: grid;
}






footer{
  padding: 0 1em 0 1em;
} 

article{
  margin: none;
  padding: none;
}


@media (min-width: 480px){


}